.bg-custom {
	background: #8e24aa;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px;
}

.div-color {
	background-image: linear-gradient(to right top, #ff4d00, #fa8400, #eeaf00, #ddd616,
		#c8f95a);
	height: 500px;
}